body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #d4e6fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}



.logo img {
    height: 40px;
}

.links {
    display: flex;
}

.links a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ff2f00;
}



h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000000;
    font-size: 40px;
}

section {
    text-align: center;
}


p {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 20px;
}


.side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.down {
    display: block;
    width: 500px;
    margin-top: 5%;
}


form {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* Align form elements to the left */
}

.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gen {
    display: flex;
    align-items: center;
    width: 100%;
}
#collge-code{
    width: 100px;
}

#college-code option{
    width: 100px;
}
#rid {
    width: 17%;
}

#gid {
    width: 17%
}

#cid {
    width: 19%
}

.gen select,
.gen input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
    margin-right: 3%; 
}

.gen select:focus,
.gen input:focus {
    border-color: #000000;
}

button.primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

button.primary:hover {
    background-color: #000000;
    color: #fff;

}


#graph{
    width: 50%;
    height: 50%;
    margin-left: 5%;
}
